*~
*#
.DS_Store
*.class
*.egg-info/
.idea/
*.pem
*.pyc
*.pyo
*.retry
.serverless
.swp
TESTING
TODO
__pycache__/
active_instances/
data/
deprecated/
instance_data/
snippets/
tools/
vars_files/
kill-instance.*.sh
