ansible
appdirs
asn1crypto
awscli
bcrypt
boto
boto3
botocore
cffi
Click
colorama
cryptography
DateTime
docutils
fabric
invoke
Jinja2
jmespath
jq
MarkupSafe
nested-lookup
paramiko
prettytable
pyasn1
pycparser
PyNaCl
python-dateutil
pytz
PyYAML
rsa
s3transfer
six
urllib3
zope.interface
