################################################################################
# Name:		{{ instance_name }}.tf
# Author:	Rodney Marable <rodney.marable@gmail.com>
# Created On:	June 3, 2019
# Last Changed:	September 25, 2019
# Deployed On:	{{ lookup('pipe','date "+%B %-d, %Y"') }}
{% if count > 1 %}
# Purpose:	Terraform template for instance family {{ instance_name }}
{% else %}
# Purpose:	Terraform template for instance {{ instance_name }}
{% endif %}
################################################################################
{% if enable_placement_group == 'true' %}

resource "aws_placement_group" "ec2pg-{{ instance_serial_number }}" {
  name     = "ec2pg-{{ instance_serial_number }}"
  provider = {{ provider }}
  strategy = "{{ placement_group_strategy }}"
}
{% endif %}

{% if request_type == 'ondemand' %}
resource "aws_instance" "{{ instance_name }}" {
{% endif %}
{% if request_type == 'spot' %}
resource "aws_spot_instance_request" "{{ instance_name }}" {
  spot_price                  = "{{ spot_price }}"
  spot_type                   = "one-time"
{% if count > 1 %}
  launch_group                = "{{ instance_serial_number }}-lg"
{% endif %}
  wait_for_fulfillment        = true
{% endif %}
  availability_zone           = "{{ az }}"
  ami                         = "{{ aws_ami }}"
  count                       = "{{ count }}"
  ebs_optimized               = "{{ ebs_optimized | lower }}"
{% if is_windows %}
  get_password_data           = "true"
{% endif %}
  iam_instance_profile        = "{{ ec2_iam_instance_profile }}"
  instance_type               = "{{ instance_type }}"
  key_name                    = "{{ ec2_keypair }}"
  monitoring                  = "true"
{% if enable_placement_group == 'true' %}
  placement_group             = "ec2pg-{{ instance_serial_number }}"
{% endif %}
{% if public_ip == 'true' %}
  associate_public_ip_address = "true"
{% else %}
  associate_public_ip_address = "false"
{% endif %}
  provider                    = {{ provider }}
  root_block_device {
    volume_size = "{{ ebs_root_volume_size }}"
    volume_type = "{{ ebs_root_volume_type }}"
{% if ebs_root_volume_type == 'io1' %}
    iops        = "{{ ebs_root_volume_iops }}"
{% endif %}
  }
  ebs_block_device {
    device_name = "/dev/sdf"
    volume_size = "{{ ebs_device_volume_size }}"
    volume_type = "{{ ebs_device_volume_type }}"
    encrypted   = "{{ ebs_encryption | bool | lower }}"
{% if ebs_root_volume_type == 'io1' %}
    iops        = "{{ ebs_root_volume_iops }}"
{% endif %}
  }
  vpc_security_group_ids = ["{{ vpc_security_group_ids }}"]
  subnet_id              = "{{ subnet_id }}"
  tags = {
{% if count > 1 %}
    Name                    = "{{ instance_name }}-${count.index}"
    Purpose                 = "EC2 instance family built by {{ instance_owner }}"
{% else %}
    Name                    = "{{ instance_name }}"
    Purpose                 = "EC2 instance built by {{ instance_owner }}"
{% endif %}
    EBSEncryption           = "{{ ebs_encryption | bool | lower }}"
    EC2InstanceBuilderTool  = "Terraform"
    ManagedBy               = "Ec2InstanceMaker"
    OperatingSystem         = "{{ base_os }}"
    InstanceSerialNumber    = "{{ instance_serial_number }}"
    InstanceOwner           = "{{ instance_owner }}"
    InstanceOwnerEmail      = "{{ instance_owner_email }}"
    InstanceOwnerDepartment = "{{ instance_owner_department }}"
{% if 'UNDEFINED' not in project_id %}
    ProjectID               = "{{ project_id }}"
{% endif %}
    DEPLOYMENT_DATE         = "{{ DEPLOYMENT_DATE_TAG }}"
  }
  volume_tags = {
    EC2InstanceBuilderTool  = "Terraform"
    ManagedBy               = "Ec2InstanceMaker"
{% if count > 1 %}
    Name                    = "{{ instance_name }}-${count.index}"
    MountedBy               = "{{ instance_name }}-${count.index}"
    Purpose                 = "EC2 instance family built by {{ instance_owner }}"
{% else %}
    Name                    = "{{ instance_name }}"
    MountedBy               = "{{ instance_name }}"
    Purpose                 = "EC2 instance built by {{ instance_owner }}"
{% endif %}
    InstanceSerialNumber    = "{{ instance_serial_number }}"
    InstanceOwner           = "{{ instance_owner }}"
    InstanceOwnerEmail      = "{{ instance_owner_email }}"
    InstanceOwnerDepartment = "{{ instance_owner_department }}"
{% if 'UNDEFINED' not in project_id %}
    ProjectID               = "{{ project_id }}"
{% endif %}
    DEPLOYMENT_DATE         = "{{ DEPLOYMENT_DATE_TAG }}"
    EBSEncryption           = "{{ ebs_encryption | bool | lower }}"
  }
{% if request_type == "spot" %}
  provisioner "local-exec" {
{% if count > 1 %}
    command = "aws --region {{ region }} ec2 create-tags --resource ${self.spot_instance_id} --tags Key=Name,Value={{ instance_name }}-${count.index} Key=ManagedBy,Value=Ec2InstanceMaker Key=InstanceSerialNumber,Value={{ instance_serial_number }} Key=InstanceOwner,Value={{ instance_owner }} Key=InstanceOwnerEmail,Value={{ instance_owner_email }} Key=InstanceOwnerDepartment,Value={{ instance_owner_department }} Key=InstanceFamily,Value={{ instance_serial_number }}-{{ instance_type }} Key=EC2RequestType,Value={{ request_type }}{% if 'UNDEFINED' not in project_id %} Key=ProjectId,Value={{ project_id }}{% endif %} Key=DEPLOYMENT_DATE,Value=\"{{ DEPLOYMENT_DATE_TAG }}\" Key=OperatingSystem,Value={{ base_os }} Key=EBSEncryption,Value={{ ebs_encryption | bool | lower }}"
{% else %}
    command = "aws --region {{ region }} ec2 create-tags --resource ${self.spot_instance_id} --tags Key=Name,Value={{ instance_name }} Key=ManagedBy,Value=Ec2InstanceMaker Key=InstanceSerialNumber,Value={{ instance_serial_number }} Key=InstanceOwner,Value={{ instance_owner }} Key=InstanceOwnerEmail,Value={{ instance_owner_email }} Key=InstanceOwnerDepartment,Value={{ instance_owner_department }} Key=InstanceFamily,Value={{ instance_serial_number }}-{{ instance_type }} Key=EC2RequestType,Value={{ request_type }}{% if 'UNDEFINED' not in project_id %} Key=ProjectId,Value={{ project_id }}{% endif %} Key=DEPLOYMENT_DATE,Value=\"{{ DEPLOYMENT_DATE_TAG }}\" Key=OperatingSystem,Value={{ base_os }} Key=EBSEncryption,Value={{ ebs_encryption | bool | lower }}"
{% endif %}
  }
{% endif %}
{% if not is_windows %}
  user_data = file("instance_userdata.{{ instance_name }}.sh")
  provisioner "local-exec" {
{% if request_type == "spot" %}
    command = "bash {{ ssm_provision_script }} ${self.spot_instance_id}"
{% else %}
    command = "bash {{ ssm_provision_script }} ${self.id}"
{% endif %}
  }
{% endif %}
}
{% if request_type == "ondemand" %}
output "instance_ip_addresses" {
{% if public_ip == 'true' %}
  value = join(",", aws_instance.{{ instance_name }}.*.public_ip)
{% else %}
  value = join(",", aws_instance.{{ instance_name }}.*.private_ip)
{% endif %}
}
output "instance_public_dns" {
{% if public_ip == 'true' %}
  value = join(",", aws_instance.{{ instance_name }}.*.public_dns)
{% else %}
  value = join(",", aws_instance.{{ instance_name }}.*.private_dns)
{% endif %}
}
output "instance_name_index" {
  value = join(",", aws_instance.{{ instance_name }}.*.tags.Name)
}
output "instance_id_list" {
  value = join(",", aws_instance.{{ instance_name }}.*.id)
}
{% endif %}
{% if request_type == "spot" %}
output "instance_ip_addresses" {
{% if public_ip == 'true' %}
  value = join(",", aws_spot_instance_request.{{ instance_name }}.*.public_ip)
{% else %}
  value = join(",", aws_spot_instance_request.{{ instance_name }}.*.private_ip)
{% endif %}
}
output "instance_public_dns" {
{% if public_ip == 'true' %}
  value = join(",", aws_spot_instance_request.{{ instance_name }}.*.public_dns)
{% else %}
  value = join(",", aws_spot_instance_request.{{ instance_name }}.*.private_dns)
{% endif %}
}
output "instance_name_index" {
  value = join(",", aws_spot_instance_request.{{ instance_name }}.*.tags.Name)
}
output "instance_id_list" {
  value = join(",", aws_spot_instance_request.{{ instance_name }}.*.spot_instance_id)
}
{% endif %}
