################################################################################
# Name:         provider_aws.{{ instance_name }}.tf
# Author:       Rodney Marable <rodney.marable@gmail.com>
# Created On:   April 13, 2018
# Last Changed: August 5, 2019
# Deployed On:	{{ DEPLOYMENT_DATE }}
# Purpose:      Designate AWS regions for use in Terraform templates
# Reference:	https://www.terraform.io/docs/configuration/providers.html
################################################################################

provider "aws" {
  alias  = "{{ vpc_name | hcl_escape }}"
  region = "{{ region }}"
}
